.img-profile-photo {
    border-radius: 50%;
}

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }
#link-icons {
    height: 50px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    min-width: 300px;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
.link-icon{
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}

.link-icon .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.link-icon:hover .tooltiptext {
    visibility: visible;
}